body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cold-email-node {
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #1a192b;
}

.wait-node {
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #1a192b;
}

.lead-source-node {
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #1a192b;
} 